[submodule "application/vendor/glm"]
	path = application/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "application/vendor/imgui"]
	path = application/vendor/imgui
	url = https://github.com/ocornut/imgui.git
